
.bg-dark{
  background: #0a6a79!important;
}
.banner{
  width: 100%;
  height: 93vh;
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(https://th.bing.com/th/id/OIP.sltNro95mS6cB6rWwuEnqQHaEK?w=314&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
  background-size:cover;
  color: white;
}
.my-card{
  padding:20px;
  border: 2px solid black;
  margin-top: 30px;
  border-radius:5px;
  border: 1px solid #9C9C9C;
  background-color: rgb(178, 207, 239);
}

#login .container #login-row #login-column #login-box {
  max-width: 600px;
  height:380px;
  border-radius:5px;
  border: 1px solid #9C9C9C;
  background-color: rgb(178, 207, 239);
}

#login{
height: 90vh;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}