.bg-dark{
  background: #0a6a79!important;
}

@media only screen and (max-width: 600px){
   .sidebar{
     display: none;
     width: 80% !important;
     background: #EAEAEA;
     height: 100vh;
     position: fixed;
     padding-top: 20px;
   }
   .content{
     margin-left: 0%!important;
   }
}

.sidebar{
   width:18%;
   background: #EAEAEA;
   height: 100%;
   position: fixed;
   padding-top: 45px;
   z-index: 2;
}
.sidebar a{
   display: block;
   width: 100%;
   padding: 10px 25px;
   text-decoration: none;
   color: gray;
}
.sidebar a:hover{
   background: #e2e2e2;
}
.sidebar .divider{
   height: .5px;
   width: 100px;
   background: #e2e2e2;
   margin-top: 10px;
}
#item{
display:flex;
}
#icon{
 height: 100% ;
}
.content{
  margin-left:18%;
}
.sidebar .crossBtn{
  position: absolute;
  top:0;
  right: 35px;
  font-size: 36px;
  cursor: pointer;
}
.contact-profile-picture{
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}
.button-container{
  display: flex;
  gap: 10 px ;
  justify-content: center;
}
.button-container form, .button-container a{
  margin 0;
}
#button-container{
  display: flex;
}
#content{
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url(https://website-assets-fw.freshworks.com/attachments/cjuwek45n01w4ztg0bh9cvq4q-contact-management-software.one-half.png);
  background-size:cover;
}
.dashboard{
  width: 60%;
  margin-top:6%;
}

#card radius
.cr{
  border-radius: 4%;
  border-style: solid;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

/*Search css*/
.search-container{
  position: relative;
}
#search-result{
  position: absolute;
  background: white;
  width: 100%;
  padding: 10px;
  /*border: 1px solid gray;*/
}
.active{
  background: #0a6a79!important;
  color: white!important;
}
